<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	
	#www to non www
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
	
	#remove trailing slashes
	RewriteCond %{HTTP_HOST} ^(.*)$ [NC]
	RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

	RewriteCond %{REQUEST_URI} ^system.*
	RewriteRule ^(.*)$ /index.php?/$1 [NC,QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [NC,QSA,L]
</IfModule>
	
	
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>